# Node
node_modules/
build/
dist/
.env
.env.*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/

# VSCode
.vscode/

# Dotnet
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.pyc

# Docker
*.pid

# Test/coverage
coverage/
*.lcov

# Misc
*.log
.idea/

# React
*.local

# Husky
.husky/_/
